@import "_nullstyle";

//body{
//   background-color:  rgb(95, 92, 92);
//}
//.wrapper {
//   min-height: 100vh;
//   display: flex;
//   flex-direction: column;
//}
//.items {
//   padding: 50px 0px;
//}
//.items__container {
//   max-width: 1200px;
//   margin: 0 auto;
//   padding: 0 15px;
//}
//.items__body {
//   display: grid;
//   grid-template-columns: repeat(auto-fit, minmax(290px,1fr));
//   gap: 20px;
//}
//.item {
//}
//.item__video {
//   position: relative;
//   margin: 0px 0px 15px 0px;
//   //aspect-ratio: 16/9 ;
//   padding: 0px 0px 56% 0px;
//}
//.item__video video, iframe {
//   object-fit: cover;
//   position: absolute;
//   top: 0;
//   left: 0;
//   width: 100%;
//   height: 100%;
//}
//.item__text {
//   font-size: 18px;
//   line-height: 150%;
//   color: #fff;
//}
//фулскрин
.full-screen {
   position: relative;
   
   min-height: 100vh;
   display: flex;
   flex-direction: column;
}
.full-screen__body {
   padding: 50px 15px;
   position: relative;
   z-index: 2;
   display:flex;
   flex: 1 1 auto;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   text-transform: uppercase;
   color: #fff;
   font-weight: 700;
   background-color: rgba(68, 56, 56, 0.399);

}
.full-screen__title {
   font-size: 50px;
   letter-spacing:25px;
   margin: 0px 0px 20px 0px;
}
.full-screen__text {
   font-size: 50px;
   letter-spacing:25px;
}
.full-screen__video {
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   object-fit: cover;
   
}
.content {
  
   position: relative;
   z-index: 3;
   background-color: rgba(100, 60, 5, 0.406);
}
.content__container {
   color: #fff;
   font-size: 30px;
   line-height: 150%;
   max-width: 1200px;
   margin: 0 auto;
}
.content__container p{
   margin: 0px 0px 20px 0px;
   
}